<%- include("partials/header"); %> 
<h1>Home</h1>
<p><%= startingContent %></p>
<% posts.forEach(function(post){ %>
    <h1><%= post.title %></h1>
    <p class="hundred-chars"><%= post.body %></p>
    <a href="/posts/<%= kebabTitle %>">Open in another window</a>
<% }); %> 
<%- include("partials/footer"); %> 